@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }
}

:root {
  --background-100: #202020;
  --background-500: #191919;

  --primary-100: #eeeeee;
  --primary-500: #ffffff;

  --secondary-100: #eeeeee;
  --secondary-500: #ffffff;

  --accent-100: #76abae;
  --accent-500: #76abae;
}

.scroll-bar::-webkit-scrollbar {
  border: none;
  width: 12px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #585959; /* Color of the thumb */
  border-radius: 5px; /* Border radius of the thumb */
}
